.project-tile-container {
    width: 280px;
    height: 250px;
    background-color: #967bb612 !important;
    box-shadow: 2px 2px 2px 0 #967bb675 !important;
    border-radius: 20px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      transition: 0.1s ease-in;
      background-color: #967bb692 !important;
    }
    .project-info {
      padding-left: 10px;
      width: 270px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .project-title {
        width: 100%;
        color: #967bb6;
        h2 {
          font-size: 30px;
          margin: 0;
        }
      }
      .project-techstack {
        width: 100%;
        display: flex;
        font-size: 12px;
        opacity: 0.6;
        color: #fff;
        padding-left: 4px;
        .techstack-skill{
          margin-left: 2px;
          span{
            color: #967bb6;
          }
        }
      }
    }
    .project-snapshot {
      img {
        width: 260px;
        box-shadow: inset 0 0 2px 6px #967bb699;
        border-radius: 20px;
        object-fit: cover;
        height: 150px;
      }
    }
  }
  